<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @author     Qualiteam Software info@qtmsoft.com
 * @category   Cdev
 * @package    Cdev_XPaymentsConnector
 * @copyright  (c) 2010-2016 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Cdev_XPaymentsConnector>
            <version>1.1.2</version>
        </Cdev_XPaymentsConnector>
    </modules>
	<global>
		<models>
            <sales>
                <rewrite>
                    <recurring_profile>Cdev_XPaymentsConnector_Model_Sales_Recurring_Profile</recurring_profile>
                    <quote_address_total_nominal>Cdev_XPaymentsConnector_Model_Quote_Address_Total_Nominal</quote_address_total_nominal>
                    <quote>Cdev_XPaymentsConnector_Model_Quote</quote>
                </rewrite>
            </sales>
            <payment>
                <rewrite>
                    <recurring_profile>Cdev_XPaymentsConnector_Model_Payment_Recurring_Profile</recurring_profile>
                </rewrite>
            </payment>
			<xpaymentsconnector>
				<class>Cdev_XPaymentsConnector_Model</class>
				<resourceModel>xpaymentsconnector_mysql4</resourceModel>
			</xpaymentsconnector>
            <xpaymentsconnector_mysql4>
                <class>Cdev_XPaymentsConnector_Model_Mysql4</class>
                <entities>
                    <paymentconfiguration>
                        <table>xpayment_configurations</table>
                    </paymentconfiguration>
                    <usercards>
                        <table>xpayment_user_cards</table>
                    </usercards>
                </entities>
            </xpaymentsconnector_mysql4>
		</models>
		<helpers>
			<xpaymentsconnector>
				<class>Cdev_XPaymentsConnector_Helper</class>
			</xpaymentsconnector>
		</helpers>
		<resources>
			<xpaymentsconnector_setup>
				<setup>
					<module>Cdev_XPaymentsConnector</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</xpaymentsconnector_setup>
			<xpaymentsconnector_write>
				<connection>
					<use>core_write</use>
				</connection>
			</xpaymentsconnector_write>
			<xpaymentsconnector_read>
				<connection>
					<use>core_read</use>
				</connection>
			</xpaymentsconnector_read>
		</resources>
        <fieldsets>
            <sales_convert_quote>
                <xp_card_data>
                    <to_order>*</to_order>
                </xp_card_data>
            </sales_convert_quote>
        </fieldsets>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Cdev_XPaymentsConnector_Block__Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <xpaymentsconnector>
				<class>Cdev_XPaymentsConnector_Block</class>
            </xpaymentsconnector>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Cdev_XPaymentsConnector_Block_Form_Container</onepage_payment_methods>
                    <onepage_success>Cdev_XPaymentsConnector_Block_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Cdev_XPaymentsConnector_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
		</blocks>
        <events>
            <sales_order_payment_cancel_invoice>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>invoiceVoid</method>
                    </xpaymentsconnector>
                </observers>
            </sales_order_payment_cancel_invoice>
            <sales_order_invoice_save_before>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>orderInvoiceSaveBefore</method>
                    </xpaymentsconnector>
                </observers>
            </sales_order_invoice_save_before>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>preDispatchCheckout</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>postDispatchSavePayment</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <!--<checkout_type_onepage_save_order_after>-->
            <checkout_type_onepage_save_order_after>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>updateOrder</method>
                    </xpaymentsconnector>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>orderSuccessAction</method>
                    </xpaymentsconnector>
                </observers>
            </checkout_onepage_controller_success_action>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>xpaymentsconnector/observer</class>
                        <method>paymentMethodIsActive</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <!--send xp transaction from 'XP Order State tab'-->
            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>adminhtmlSalesOrderView</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>

            <controller_action_postdispatch_adminhtml_sales_order_create_save>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>postdispatchAdminhtmlSalesOrderCreateSave</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_save>
            <controller_action_predispatch_adminhtml_sales_order_create_save>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>predispatchAdminhtmlSalesOrderCreateSave</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_save>
            <!--add x-payments transaction for 'admin order edit' event   -->
            <controller_action_postdispatch_adminhtml_sales_order_edit_save>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>postdispatchAdminhtmlSalesOrderEditSave</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_edit_save>
            <controller_action_predispatch_adminhtml_sales_order_create_index>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>unsetXpaymentSelectedCard</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_index>
            <!--save selected x-payment card on admin side -->
            <controller_action_postdispatch_adminhtml_sales_order_edit_loadBlock>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>adminhtmlSavePaymentCard</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_edit_loadBlock>
            <controller_action_postdispatch_adminhtml_sales_order_create_loadBlock>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>adminhtmlSavePaymentCard</method>
                    </xpaymentsconnector>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_create_loadBlock>
            <!--add redirect for buying recurring product by xpayments method(without iframe) -->
            <checkout_submit_all_after>
                <observers>
                    <xpaymentsconnector>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>addRedirectForXpaymentMethod</method>
                    </xpaymentsconnector>
                </observers>
             </checkout_submit_all_after>
            <!--set discount for recurring product(for ajax cart item quantity update). Remove X-Payments token -->
            <checkout_cart_update_items_after>
                <observers>
                    <web4proall_upd>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>updateCartItem</method>
                    </web4proall_upd>
                </observers>
            </checkout_cart_update_items_after>
            <!--Remove X-Payments token -->
            <checkout_cart_add_product_complete>
                <observers>
                    <web4proall_upd>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>checkoutCartAdd</method>
                    </web4proall_upd>
                </observers>
            </checkout_cart_add_product_complete>
            <!--set discount for recurring product-->
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <web4procheckout>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>preDispatchCartIndex</method>
                    </web4procheckout>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <!--Remove X-Payments token and prepare order number -->
           <controller_action_postdispatch_checkout_cart_delete>
               <observers>
                   <web4procheckout>
                       <type>singleton</type>
                       <class>Cdev_XPaymentsConnector_Model_Observer</class>
                       <method>postdispatchCartDelete</method>
                   </web4procheckout>
               </observers>
           </controller_action_postdispatch_checkout_cart_delete>
            <!--Remove X-Payments token after update shipping method -->
            <controller_action_postdispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <web4procheckout>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>postdispatchSaveShippingMethod</method>
                    </web4procheckout>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShippingMethod>
            <!--Remove X-Payments token after update shipping method -->
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <web4procheckout>
                        <type>singleton</type>
                        <class>Cdev_XPaymentsConnector_Model_Observer</class>
                        <method>predispatchSaveShippingMethod</method>
                    </web4procheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
        </events>
        <sales>
            <quote>
                <nominal_totals>
                    <recurring_discount>
                        <class>xpaymentsconnector/quote_address_total_nominal_recurring_discount</class>
                        <sort_order>10</sort_order>
                    </recurring_discount>
                    <recurring_initialfee_tax>
                        <class>xpaymentsconnector/quote_address_total_nominal_recurring_initialfee_tax</class>
                        <sort_order>11</sort_order>
                    </recurring_initialfee_tax>
                </nominal_totals>
            </quote>
        </sales>
	</global>
	<frontend>
		<routers>
			<xpaymentsconnector>
				<use>standard</use>
				<args>
					<module>Cdev_XPaymentsConnector</module>
					<frontName>xpaymentsconnector</frontName>
				</args>
			</xpaymentsconnector>
		</routers>
        <events>
        </events>
		<translate>
			<modules>
				<Cdev_XPaymentsConnector>
					<files>
						<default>Cdev_XPaymentsConnector.csv</default>
					</files>
				</Cdev_XPaymentsConnector>
			</modules>
		</translate>
		<layout>
			<updates>
				<xpaymentsconnector>
					<file>xpaymentsconnector.xml</file>
				</xpaymentsconnector>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<xpaymentsconnector>
				<use>admin</use>
				<args>
					<module>Cdev_XPaymentsConnector</module>
					<frontName>xpaymentsconnector</frontName>
				</args>
			</xpaymentsconnector>
		</routers>
	</admin>
	<adminhtml>
        <layout>
            <updates>
                <xpaymentsconnector>
                    <file>xpaymentsconnector.xml</file>
                </xpaymentsconnector>
            </updates>
        </layout>
		<translate>
			<modules>
				<Cdev_XPaymentsConnector>
					<files>
						<default>Cdev_XPaymentsConnector.csv</default>
					</files>
				</Cdev_XPaymentsConnector>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<payment>		
			<xpayments>
				<active>0</active>
				<model>xpaymentsconnector/payment_cc</model>
				<order_status>1</order_status>
				<allowspecific>0</allowspecific>
				<title>Credit Card (X-Payments)</title>
				<use_iframe>1</use_iframe>
			</xpayments>
            <savedcards>
                <active>0</active>
                <model>xpaymentsconnector/payment_savedcards</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Use saved payment cards (X-Payments)</title>
            </savedcards>
            <!-- @TODO: need process 'charge response' from 'x-payment server'  -->
            <!--<prepaidpayments>
                <active>0</active>
                <model>xpaymentsconnector/payment_prepaidpayments</model>
                <order_status>1</order_status>
                <allowspecific>0</allowspecific>
                <title>Prepaid Payments (X-Payments)</title>
            </prepaidpayments>-->
		</payment>
		<xpaymentsconnector>
			<settings>
				<activationstatus>0</activationstatus>
                <xpay_minimum_payment_recurring_amount>0.5</xpay_minimum_payment_recurring_amount>
                <xpay_currency>USD</xpay_currency>
			</settings>
		</xpaymentsconnector>
	</default>
   <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <xpaymentsconnector before="Mage_Adminhtml">Cdev_XPaymentsConnector_Adminhtml</xpaymentsconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <create_order_by_subscription>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xpaymentsconnector/observer::createOrdersByCustomerSubscriptions</model>
                </run>
            </create_order_by_subscription>
        </jobs>
    </crontab>

</config>
