<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @author     Qualiteam Software info@qtmsoft.com
 * @category   Cdev
 * @package    Cdev_XPaymentsConnector
 * @copyright  (c) 2010-2016 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<sections>
		<payment>
			<groups>
				<xpayments translate="label" module="xpaymentsconnector">
					<label>X-Payments connector</label>
					<frontend_type>text</frontend_type>
					<sort_order>201</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
						<allowspecific translate="label">
							<label>Payment from applicable countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>4</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>5</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</specificcountry>
                        <confid translate="label">
                            <label>Payment configuration</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <source_model>xpaymentsconnector/source_paymentconfiguration</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </confid>
                        <use_iframe translate="label">
                            <label>Use iFrame</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_model>xpaymentsconnector/adminhtml_system_config_form_subselect</frontend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_iframe>
                        <placedisplay translate="label">
                            <label>Show credit card form at</label>
                            <frontend_type>select</frontend_type>
                            <source_model>xpaymentsconnector/adminhtml_system_config_source_placedisplay</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </placedisplay>
                        <use_authorize translate="label">
                            <label>Use forced Authorize operation</label>
                            <comment><![CDATA[Work only for non recurring product order.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_authorize>
                        <use_initialfee_authorize translate="label">
                            <label>Use forced Authorize operation for recurring products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_initialfee_authorize>

					</fields>
				</xpayments>
                <savedcards translate="label" module="xpaymentsconnector">
                    <label>Use saved credit cards (X-Payments)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>201</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                    </fields>
                </savedcards>
                <!-- @TODO: need process 'charge response' from 'x-payment server'  -->
                <!--<prepaidpayments>
                    <label>Prepaid Payments (X-Payments)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>201</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                    </fields>
                </prepaidpayments>-->
			</groups>
		</payment>
		<xpaymentsconnector translate="label" module="xpaymentsconnector">
			<label>X-Payments connector</label>
			<tab>sales</tab>
			<frontend_type>text</frontend_type>
			<sort_order>995</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<settings translate="label">
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<xpay_conf_bundle translate="label,comment">
							<label>X-Payments configuration bundle</label>
							<comment><![CDATA[Configuration bundle is generated by X-Payments for this shop. It should be obtained from this shop details page in X-Payments back-end.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</xpay_conf_bundle>
                        <xpay_allowed_ip_addresses translate="label,comment">
                            <label>IP addresses for X-Payments callbacks</label>
							<comment><![CDATA[X-Payments sends callback requests to the store from specific IP addresses. To secure the data transfer and avoid fraudulent requests, specify these IP addresses here as a comma-separated list. Usually it is IP address of the server where X-Payments is installed.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </xpay_allowed_ip_addresses>
                        <xpay_currency translate="label,comment">
                            <label>Payment currency</label>
							<comment><![CDATA[All payments will be made using the currency specified here.]]></comment>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_currency</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </xpay_currency>
                        <xpay_minimum_payment_recurring_amount translate="label,comment">
                            <label>Setup minimum payment amount for recurring orders and customer card authorization actions</label>
                            <comment><![CDATA[This is minimal authorisation amount for recurring subscriptions ordered with start date in the future and customer card authorization actions.]]></comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </xpay_minimum_payment_recurring_amount>

					</fields>
                    <label>X-Payments Connector Settings</label>
                    <frontend_type>text</frontend_type>
                    <comment>
                        <![CDATA[
                    <div id="xp-connector-settings" style="display:none">
                        <li>See  how to connect <strong>X-Payments</strong> with <strong>Magento</strong></li>
                        <li><iframe width="400" height="260" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/2VRR0JW23qc"></iframe></li>
                        <li><strong>Need help in settings of x-payments? <a href="http://www.x-payments.com/contact-us.html?utm_source=mage_shop&utm_medium=link&utm_campaign=mage_shop_link" target="_blank">Сontact us!</a></strong></li>
                        </ol>
                    </div>
                    <script>
                    document.observe('dom:loaded', function(){
                        var bundleKey = $('xpaymentsconnector_settings_xpay_conf_bundle').getValue();
                        if(bundleKey.trim() == ''){
                            $('xp-connector-settings').show();
                        }
                    });
                    </script>
                    ]]>
                    </comment>
				</settings>
			</groups>
		</xpaymentsconnector>
	</sections>
</config>
